.offer-block{
    width: 100%;
    margin: 180px 0 0 0;
    position: relative;
}

.offer-block::before{
    content: url('../img/offer/decor-plus.png');
    position: absolute;
    top: 0;
    right: 0;
}



.offer__cards{
    width: 100%;
    margin: 68px -20px 0;
    display: flex;
    justify-content: space-between;
}

.offer__card-couple-wrapper{ 
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.offer__card-wrapper{
    margin: 20px;
    max-width: 267px;
    position: relative;
    border-radius: 36px;
    z-index: 2;
    transition: 1s;
}

.offer__card-wrapper_active{
    box-shadow: 0 20px 20px 5px rgb(238, 238, 238);
}

.offer__card{
    width: 100%;
    height: 100%;
    border-radius: 36px;
    background-color: #ffffff;
    padding: 20px 20px;
    z-index: 1;
}

.offer__card::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 100px;
    height: 100px;
    background-color: #DF6951;
    border-radius: 30px 0 10px 0;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.offer__card_active::after{
    opacity: 1;
}

.card__image{
    text-align: center;
}

.card__title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 29 0 0 0;
}

.card__describtion{
    margin: 0 auto;
}

.card__description p{
    font-style: 16px;
    text-align: center;
    color: #5E6282;
}

@media (max-width: 1060px) {
    .offer__card-couple-wrapper{ 
        width: 534px;
    }
    .offer__cards{
        display: block;
        margin: 28px -20px 0;
    }
}

@media (max-width: 960px) {
    .offer-block::before{
        display: none;
    }
    .offer-block{
        margin: 50px 0 0 0;
    }
}

@media (max-width: 760px) {
    .offer__cards{
        margin: 28px 0 0;
    }
    .offer__card-couple-wrapper{
        display: block;
        width: 100%;
    }
    .offer__card-wrapper{
        margin: 5px auto 0;
    }
    
}