@import url('./reset.css');
@import url('./main-block.css');
@import url('./offer.css');
@import url('./destinations.css');
@import url('./steps.css');
@import url('./feedback.css');
@import url('./subscribe.css');
@import url('./footer.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

@font-face {
	font-family: 'Volkhov';
	src: url('../fonts/volkhov.bold.eot');
	src: local('☺'), url('../fonts/volkhov.bold.woff') format('woff'), url('../fonts/volkhov.bold.ttf') format('truetype'), url('../fonts/volkhov.bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GoogleSans';
	src: url('../fonts/GoogleSans-Regular.eot');
	src: local('☺'), url('../fonts/GoogleSans-Regular.woff') format('woff'), url('../fonts/GoogleSans-Regular.ttf') format('truetype'), url('../fonts/GoogleSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

html{
    box-sizing: border-box;
	scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
	line-height: 30px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	color: #5E6282;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
}

.body_frozen{
	overflow-y: hidden;
	padding-right: 15px;
}

.content{
	max-width: 1200px;
	margin: 49px auto 0;
	padding: 0 20px;
}

@media (max-width: 760px) {
    .content{
        margin: 10px auto 0;
    }
}

.content__wrapper{
	width: 100%;	
}

h2{
	margin: 0;
	font-family: 'Volkhov';
	font-size: 50px;
	text-align: center;
	color: #14183E;
	line-height: 50px;
}

.category{
    text-align: center;
}

@media (max-width: 760px) {
	h2{
		font-size: 36px;
	}

}